@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #fff;
}

h1 {
  color: #01347C !important;
  font-size: 62px !important;
  font-weight: 700 !important;
}

.slick-prev {
  position: absolute;
  width: 44px !important;
  height: 44px !important;
  left: -50px !important;
}

.slick-next {
  width: 44px !important;
  height: 44px !important;
  right: -50px !important;
}


#dify-chatbot-bubble-button {
  width: 100px !important;
  height: 100px !important;
  z-index: 1000000000000;
  background-image: url("/jack.png") !important;
  background-position: center !important;
  background-size: contain !important;
  background-repeat: no-repeat;
  bottom: 20px !important;
  cursor: pointer !important;
  transition: 1s !important;
}

#dify-chatbot-bubble-button:hover {
  transform: translateY(-5px);
  transition: 1s !important;
}

#dify-chatbot-bubble-window {
  width: 24rem !important;
  height: 40rem !important;
  bottom: 130px !important;
}

#closeIcon,
#openIcon {
  position: absolute !important;
  right: 10px !important;
  bottom: 90px !important;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.content {
  margin-top: 76px;
  flex: 1; 
}

