.card {
    background-color: #fff;
    color: #01347C;
}

.cardImg {
    height: 200px;
    object-fit: cover;
    object-position: top;
}

.btn {
    background-color: #0E77BB;
    color: white;
}

.btn:hover {
    background-color: #0B6098;
}